#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.filmPoster {
  background-color: white;
  height: 15%;
  min-height: 300px;
  min-width: 200px;
  /* height: 300px;
  width: 250px; */
  margin: 0 20px 20px 0;
  padding: 15px;
  border-radius: 30px;
}

.column{
  align-self: center;
}

img {
  width: 140px;
  height: 200px;
}

h1 {
  color: white;
}

@media only screen and (max-width: 400px) {
  #wrapper {
    align-content: unset;
  }

  .filmPoster {
    margin: 5% 0;
  }
}
