<div class="wrapper">
  <div class="row">

    <div class="column">

      <h1>CINEMA<br>
        {{movie.room}} - {{movie.title}}</h1>
      <img [src]="movie.poster" [alt]="movie.title">
    </div>

    <div class="column">
      <b>ID: </b> {{movie.id}} <br>
      <b>Title: </b> <br>
      <b>Poster: </b> {{movie.poster}} <br>
      <b>Synopsis: </b> {{movie.synopsis}} <br>
      <b>Genres: </b> {{movie.genres}} <br>
      <b>Year: </b> {{movie.year}} <br>
      <b>Director: </b> {{movie.director}} <br>
      <b>Actors: </b>
      <div *ngFor="let actor of movie.actors">
        - {{actor}} <br>
      </div>
      <b>Hours: </b> {{movie.hours}} <br>
      <b>Room: </b> <br>
    </div>

    <a routerLink="/home">Volver</a>
  </div>

</div>
