/* You can add global styles to this file, and also import other style files */
body {
  background: url("https://camo.githubusercontent.com/afd450edabd06c1cbe30c65e07deb0467c94ae86d2f07f01d8e660753af79baa/68747470733a2f2f696d6775722e636f6d2f6e505663436a6a2e6a7067") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
